main {
	margin: 25px;
}

ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #f54242;
}

li { float: left; }

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	text-decoration: none;
	color: white;
}

li a:hover.active { color: white; }

li a:hover:not(.active) { background-color: #b83232; }

.active {
	background-color: #fff830;
	color: #8c881b;
}

li img {
	margin: 9px;
	background-color: #a32222;
}
